<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <!-- Khai báo servlet -->
    <servlet>
        <servlet-name>SignUpCustomerController</servlet-name>
        <servlet-class>Controller.cs.SignUpCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginCustomerController</servlet-name>
        <servlet-class>Controller.cs.LoginCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmSignUpCusController</servlet-name>
        <servlet-class>Controller.cs.ConfirmSignUpCusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InformationUserController</servlet-name>
        <servlet-class>Controller.cs.InformationUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserController</servlet-name>
        <servlet-class>Controller.cs.UpdateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>Controller.cs.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerListByMarketingController</servlet-name>
        <servlet-class>Controller.mkt.CustomerListByMarketingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FifterStatusCustomerByMarketingController</servlet-name>
        <servlet-class>Controller.mkt.FifterStatusCustomerByMarketingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCustomerByMarketingController</servlet-name>
        <servlet-class>Controller.mkt.AddCustomerByMarketingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCustomerByMarketingController</servlet-name>
        <servlet-class>Controller.mkt.EditCustomerByMarketingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCustomerByMarketingController</servlet-name>
        <servlet-class>Controller.mkt.UpdateCustomerByMarketingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaginationCustomerByMarketingController</servlet-name>
        <servlet-class>Controller.mkt.PaginationCustomerByMarketingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchControlByMarketingController</servlet-name>
        <servlet-class>Controller.mkt.SearchControlByMarketingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductMarketingFilterByCategory</servlet-name>
        <servlet-class>Controllers.ProductMarketingFilterByCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductMarketingFilterByStatus</servlet-name>
        <servlet-class>Controllers.ProductMarketingFilterByStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductMarketingSearchByTitle</servlet-name>
        <servlet-class>Controllers.ProductMarketingSearchByTitleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductMarketingSearchByBriefInfo</servlet-name>
        <servlet-class>Controllers.ProductMarketingSearchByBriefInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortListProductMarketingController</servlet-name>
        <servlet-class>Controllers.SortListProductMarketingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusProductController</servlet-name>
        <servlet-class>Controllers.ChangeStatusProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetailController</servlet-name>
        <servlet-class>BlogController.BlogDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogListController</servlet-name>
        <servlet-class>BlogController.BlogListController</servlet-class>
    </servlet>

    <!-- Mapping cho các servlet -->
    <servlet-mapping>
        <servlet-name>SignUpCustomerController</servlet-name>
        <url-pattern>/signupcustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginCustomerController</servlet-name>
        <url-pattern>/logincustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmSignUpCusController</servlet-name>
        <url-pattern>/confirmsignupcus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InformationUserController</servlet-name>
        <url-pattern>/informationuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserController</servlet-name>
        <url-pattern>/updateuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerListByMarketingController</servlet-name>
        <url-pattern>/CustomerList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FifterStatusCustomerByMarketingController</servlet-name>
        <url-pattern>/StatusCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCustomerByMarketingController</servlet-name>
        <url-pattern>/AddCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCustomerByMarketingController</servlet-name>
        <url-pattern>/EditCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCustomerByMarketingController</servlet-name>
        <url-pattern>/UpdateCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaginationCustomerByMarketingController</servlet-name>
        <url-pattern>/Pagination</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchControlByMarketingController</servlet-name>
        <url-pattern>/SearchControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductMarketingFilterByCategory</servlet-name>
        <url-pattern>/productMarketingFilterByCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductMarketingFilterByStatus</servlet-name>
        <url-pattern>/productMarketingFilterByStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductMarketingSearchByTitle</servlet-name>
        <url-pattern>/productMarketingSearchByTitle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductMarketingSearchByBriefInfo</servlet-name>
        <url-pattern>/productMarketingSearchByBriefInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortListProductMarketingController</servlet-name>
        <url-pattern>/sortList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusProductController</servlet-name>
        <url-pattern>/changeStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetailController</servlet-name>
        <url-pattern>/blogdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogListController</servlet-name>
        <url-pattern>/bloglist</url-pattern>
    </servlet-mapping>
<servlet>
        <servlet-name>DetailController</servlet-name>
        <servlet-class>Controller.DetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditController</servlet-name>
        <servlet-class>Controller.EditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterController</servlet-name>
        <servlet-class>Controller.FilterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>Controller.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SliderController</servlet-name>
        <servlet-class>Controller.SliderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplaySliderController</servlet-name>
        <servlet-class>Controller.DisplaySliderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DetailController</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditController</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterController</servlet-name>
        <url-pattern>/filter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SliderController</servlet-name>
        <url-pattern>/slider</url-pattern>
    </servlet-mapping>
    <!-- Khai báo welcome file -->
    

</web-app>