<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ProductMarketingFilterByCategory</servlet-name>
        <servlet-class>Controllers.ProductMarketingFilterByCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductMarketingFilterByStatus</servlet-name>
        <servlet-class>Controllers.ProductMarketingFilterByStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductMarketingSearchByTitle</servlet-name>
        <servlet-class>Controllers.ProductMarketingSearchByTitleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductMarketingSearchByBriefInfoController</servlet-name>
        <servlet-class>Controllers.ProductMarketingSearchByBriefInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortListProductMarketingController</servlet-name>
        <servlet-class>Controllers.SortListProductMarketingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusProductController</servlet-name>
        <servlet-class>Controllers.ChangeStatusProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductMarketingFilterByCategory</servlet-name>
        <url-pattern>/productMarketingFilterByCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductMarketingFilterByStatus</servlet-name>
        <url-pattern>/productMarketingFilterByStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductMarketingSearchByTitle</servlet-name>
        <url-pattern>/productMarketingSearchByTitle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductMarketingSearchByBriefInfoController</servlet-name>
        <url-pattern>/productMarketingSearchByBriefInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortListProductMarketingController</servlet-name>
        <url-pattern>/sortList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusProductController</servlet-name>
        <url-pattern>/changeStatus</url-pattern>
    </servlet-mapping>
</web-app>
